@charset "utf-8";
.tool{
  .sidebar{
    .icon{
      background-image:url(../img/tool-sidebar-icon.png);
      background-repeat: no-repeat;
      display: inline-block;
      width: 18px;
      height: 18px;
      margin:0 5px 0 2px;
    }
    @for $i from 0 through 10 {
      .icon-#{$i} {
        background-position: 0 (-$i*48)+px;
      }
    }
    .is-active{
      @for $i from 0 through 10 {
        .icon-#{$i} {
          background-position: -28px (-$i*48)+px;
        }
      }
    }
  }
  .mc-calendar{
    .mc-calendar_body{
      margin: 10px;
      background-color: #fff;
      th{
        background-color: #3C394A;
        padding: 15px 0;
        color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
      }
      td{
        font-size: 16px;
      }
    }
    .holiday,
    .holiday.weekend {
      background:linear-gradient(180deg,#F4FFFF 0%,#DAFFFF 100%);
      .first-info{
        color: #3994FF;
      }
    }
    .weekend {
      background-color: #f4f6f7;
    }
    .other-month {
      // opacity: 0.5;
    }
    .today {
      color: #26a8ed;
    }
    .holiday.today {
      color: #3994FF;
      outline: 1px solid #3994FF;
    }
    
  }
  
  
}